{% extends 'base.html' %}
{% block content %}
  <form method="POST" action="hmeteo-new" enctype="multipart/form-data" id="geocodingForm">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="btn" type="Submit" id="submit">OK</button>
    <button class="btn" type="Cancel" id="cancel">Cancel</button>
  </form>
  <!-- Modal -->
  <div class="modal fade" id="selectLocationModal" tabindex="-1" role="dialog" aria-labelledby="selectLocationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="selectLocationModalLabel">Select Location</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close1"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <ul id="locationList" class="list-group">
            <!-- Populate this list dynamically with the location options -->
          </ul>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close2">Close</button>
          <!-- Add any other buttons you need -->
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $('#close1').on('click', function() {
      // Hide the modal using jQuery's modal method
      $('#selectLocationModal').modal('hide');
    });
    $('#close2').on('click', function() {
      // Hide the modal using jQuery's modal method
      $('#selectLocationModal').modal('hide');
    });
  // Event listener for Cancel button click
  document.getElementById('cancel').addEventListener('click', function(event) {  
    // Navigate back to the last page
    window.history.back();
  });

    document.getElementById('geocodingForm').addEventListener('submit', async function (event) {
      event.preventDefault()
      const locationName = document.getElementById('id_location').value
      // Send AJAX request to Django view
      const response = await fetch('/hmeteo/geocode/', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify({ location_name: locationName })
      })
    
      const data = await response.json()
    
      // Process geocoding results
      const results = data
      if (results.length > 1) {
        // Show dialog to select location
        // Populate the modal dialog with location options
        const locationList = document.getElementById('locationList')
        locationList.innerHTML = '' // Clear previous options
    
        results.forEach((result, index) => {
          const listItem = document.createElement('li')
          listItem.classList.add('list-group-item')
//          listItem.data2 = result
//         listItem.textContent = 
          listItem.textContent = result.formatted + '(' + result.components.state + ') ' + result.components._type
          listItem.addEventListener('click', () => {
            // Handle selection of location
            console.log('Selected location click:', result)

                      // Proceed with the single result
                      fetch('/hmeteo/create/', {
                        method: 'POST',
                        headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': '{{ csrf_token }}'
                      },
                      body: JSON.stringify({ location_geo: result })
                      });

            $('#selectLocationModal').modal('hide') // Close the modal dialog
          })
          locationList.appendChild(listItem)
        })
    
        // Show the modal dialog
        jQuery('#selectLocationModal').modal('show')
        return
      } else if (results.length < 1) {
        alert('Not found')
        return
      }
      const location2 = results[0].geometry
      // Proceed with the single result
      const response2 = await fetch('/hmeteo/create/', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': '{{ csrf_token }}'
        },
        body: JSON.stringify({ location_geo: location2 })
      })
    })
  </script>
{% endblock %}
