<div class="card">
  <div class="card-header" id="card-header-{{ item.id }}" data-item-id="{{ item.id }}">{{ item.location }}</div>
  <div class="card-body {% if not item.publish_date %}{% endif %}">
    {% if item.image %}
      <img id="bcki{{ item.slug|cut:'-' }}" src="{{ item.image.url }}" class="w-50 card-img-overlay img-thumbnail img-fluid" />
    {% endif %}
    {% if detail %}
      <h5 class="card-title">Weather History</h5>
    {% else %}
      <h5 class="card-title">Weather Forecast</h5>
    {% endif %}
    <canvas id="tc{{ item.slug|cut:'-' }}" class="card-body"></canvas>
    <script type="text/javascript">
            var ctx{{item.slug|cut:"-"}} = document.getElementById("tc{{item.slug|cut:'-'}}").getContext('2d');
           {% if detail %}
            var data{{item.slug|cut:"-"}} = {{ item.get_historical_temperature |safe }};
           {% else %}
            var data{{item.slug|cut:"-"}} = {{ item.get_forecast_temperature |safe }};
           {% endif %}
            var dates{{item.slug|cut:"-"}} = data{{item.slug|cut:"-"}}.dates;
            var tmax{{item.slug|cut:"-"}} = data{{item.slug|cut:"-"}}.tmax;
            var tmin{{item.slug|cut:"-"}} = data{{item.slug|cut:"-"}}.tmin;
            var rain{{item.slug|cut:"-"}} = data{{item.slug|cut:"-"}}.rain;
           {% if item.image %}
            var bi{{item.slug|cut:"-"}} = document.getElementById("bcki{{item.slug|cut:'-'}}")
            bi{{item.slug|cut:"-"}}.hidden=true;
            {% endif %}
            var gradient;
            var myChart = new Chart(ctx{{item.slug|cut:"-"}}, {
                data: {
                    labels: dates{{item.slug|cut:"-"}},
                    type: 'bar',
                    datasets: [
                        {
                            label: 'Temperatures',
                            type: 'bar',
                            yAxisID: 'temperature', // Use the 'temperature' axis
                            data: tmax{{item.slug|cut:"-"}}.map((value, index) => {
                                return [ tmin{{item.slug|cut:"-"}}[index], value ];
                            }),
                            backgroundColor: function(context) {
                                const chart = context.chart;
                                const {ctx, chartArea} = chart;

                                if (!chartArea) {
                                return;
                                }
                                const chartWidth = chartArea.right - chartArea.left;
                                const chartHeight = chartArea.bottom - chartArea.top;
                                if (!gradient || width !== chartWidth || height !== chartHeight) {
                                    // Create the gradient because this is either the first render
                                    // or the size of the chart has changed
                                    width = chartWidth;
                                    height = chartHeight;
                                    gradient = ctx.createLinearGradient(0, chartArea.bottom, 0, chartArea.top);
                                    gradient.addColorStop(0, 'blue');
                                    gradient.addColorStop(1, 'red');
                                }
                                return gradient;
                            },
                            borderWidth: 1,
                        },
                        {
                            label: 'Rain',
                            type: 'line',
                            yAxisID: 'rainfall', // Use the 'rainfall' axis
                            data: rain{{item.slug|cut:"-"}},
                            backgroundColor: 'rgba(0, 0, 255, 0.5)',
                            borderColor: 'rgba(0, 0, 255, 1)',
                            borderWidth: 2,
                            pointRadius: 5,
                            fill: {value: 0},
                            tension: 0.4
                        },
                    ]
                },
                options: {
                    responsive: true,
                    scales: {
                        temperature: {
                            position: 'left',
                            min: -5,
                            max: 25,
                        },
                        rainfall: {
                            position: 'right',
                        }
                    }
                },
                plugins: [{
                    beforeDraw: function(chart) {
                        var ctx = chart.ctx;
                        var width = chart.width;
                        var height = chart.height;
                        ctx.globalAlpha = 0.3;
                        ctx.globalCompositeOperation = 'destination-over';
                        {% if item.image %}
                            ctx.drawImage(bi{{item.slug|cut:"-"}}, 0, 0, width, height);
                        {% else %}
                            ctx.fillStyle = "rgba(100, 150, 220, 1)";
                            ctx.fillRect(0, 0, width, height);
                        {% endif %}
                        ctx.globalCompositeOperation = 'source-over';
                        ctx.globalAlpha = 1;
                    }
                }]

            });
            document.addEventListener('DOMContentLoaded', function() {
                var header = document.getElementById("card-header-{{ item.id }}")
               
                  header.addEventListener('click', function() {
                    const itemId = header.getAttribute('data-item-id');
                    const currentText = header.textContent;
                    console.log('current Text='+currentText)
                    const input = document.createElement('input');
                    input.type = 'text';
                    input.value = currentText;
                    input.className = 'form-control';
              
                    header.innerHTML = '';
                    header.appendChild(input);
                    input.focus();
              
                    // Handle saving on Enter key
                    input.addEventListener('keydown', function(event) {
                      if (event.key === 'Enter') {
                        saveNewText(input.value, itemId, header);
                      }
                    });
              
                    // Handle saving on blur (click outside)
                    input.addEventListener('blur', function() {
                      saveNewText(input.value, itemId, header);
                    });
                  });
             
              
                function saveNewText(newText, itemId, header) {
                  header.innerHTML = newText;
              
                  // Send AJAX request to update the database
                  fetch('/hmeteo/update-location/', {
                    method: 'POST',
                    headers: {
                      'Content-Type': 'application/json',
                      'X-CSRFToken': '{{ csrf_token }}'  // Include CSRF token
                    },
                    body: JSON.stringify({ id: itemId, new_location: newText })
                  })
                  .then(response => response.json())
                  .then(data => {
                    if (data.success) {
                      console.log('Location updated successfully');
                    } else {
                      console.error('Error updating location');
                    }
                  })
                  .catch(error => {
                    console.error('Error:', error);
                  });
                }
              });              
        </script>
    {% if nobuttons %}

    {% else %}
      <a href="{{ item.get_absolute_url }}" class="card-link btn btn-primary">View History</a>
      {% if request.user == item.user %}
        <a href="{{ item.get_edit_url }}" class="card-link btn btn-primary">Edit</a>
        <a href="{{ item.get_delete_url }}" class="card-link btn btn-warning">Delete</a>
      {% endif %}
    {% endif %}
  </div>
</div>
