{% extends "base.html" %}
{% block content %}
<style>
    /* Ensure row items are packed to the left */
.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-content-start {
    justify-content: flex-start;
}
    /* Position the "More" buttons */
.position-relative {
    position: relative;
}

.more-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    writing-mode: vertical-rl;
    text-orientation: upright;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    padding: 0;
    cursor: pointer;
}

.more-btn::after {
    content: '➡';
    font-size: 1.5em;
    margin-left: 5px;
}
</style>
<H1>{{title}}</H1>
<div class="row position-relative">
    <div class="col-12">
        <div class="row justify-content-start">
            {% for book in book_list %}
            <div class='col-12 col-md-4'>
                {% include 'book/list_inline.html' with item=book detail=False %}
            </div>
            {% endfor %}
        </div>
        <a href='book' class="btn btn-primary more-btn">More</a>
    </div>
</div>
<HR>
<div class="row position-relative">
    <div class="col-12">
        <div class="row justify-content-start">
            {% for meteo in meteo_list %}
            <div class='col-12 col-md-4'>
                {% include 'hmeteo/list_inline.html' with item=meteo detail=False %}
            </div>
            {% endfor %}
        </div>
        <a href='hmeteo' class="btn btn-primary more-btn">More</a>
    </div>
</div>
{% endblock %}

{% block back %}
{% endblock %}