<div class="card position-relative">
  <div class="card-header">
    {{ item.title }}
    {% if item.publish_date %}
    <small class="text-muted">({{ item.publish_date}})</small>
    {% else %}

    {% endif %}
  </div>
  <div class="card-body {% if not item.publish_date %} border border-warning text-muted {% endif %}">
    {% if item.image %}
    <img src="{{ item.image.url }}" class="w-25 img-thumbnail img-fluid float-start me-3" />
    {% endif %}
    <h5 class="card-title">{{ item.author }}</h5>
    {% if detail %}
    <p class="card-text">{{ item.content|linebreaks }}</p>
    {% else %}
    <div class="card-text">
      {{ item.content|truncatewords:30|linebreaks }}
    </div>
    <a class="stretched-link" href="{{ item.get_absolute_url }}" aria-label="View {{ item.title }}"></a>
    {% if request.user == item.user %}
    <a href="{{ item.get_edit_url }}" class="card-link btn btn-primary">Edit</a>
    <a href="{{ item.get_delete_url }}" class="card-link btn btn-warning">Delete</a>
    {% else %}
    <p class="card-text mt-2"><small class="text-muted">Added by {{ item.user }}</small></p>
    {% endif %}
    {% endif %}
    <div class="clearfix"></div>
  </div>
</div>