<div class="card">
  <div class="card-header">
    {{ item.title }}
    {% if item.publish_date %}
      <small class="text-muted">({{ item.publish_date}})</small>
    {% else %}

    {% endif %}
  </div>
  <div class="card-body {% if not item.publish_date %} border border-warning text-muted {% endif %}">
    {% if item.image %}
      <img src="{{ item.image.url }}" class="w-25 card-img-top img-thumbnail img-fluid" />
    {% endif %}
    <h5 class="card-title">{{ item.author }}</h5>
    {% if detail %}
      <p class="card-text">{{ item.content|linebreaks }}</p>
    {% else %}
      <small class="card-text">{{ item.content|linebreaks }}</small>
      <a class="card-link btn btn-primary" href="{{ item.get_absolute_url }}">View</a>
      {% if request.user == item.user %}
        <a href="{{ book.get_edit_url }}" class="card-link btn btn-primary">Edit</a>
        <a href="{{ book.get_delete_url }}" class="card-link btn btn-warning">Delete</a>
      {% else %}
        <p class="card-text">Added by {{ item.user }}</p>
      {% endif %}
    {% endif %}
  </div>
</div>
